---
---

<!doctype html>
<html>

<head>
  <title>{{ page.title }}</title>
  {% include default-head.html %}
  <link rel="stylesheet" href="/doc.css">
</head>

<body>
  <div id="content-holder">
    {% include header.html %}

    <nav id="docs-nav">
      <ul>
        {% for doc in site.pages %}
        {% if doc.is_doc %}
        <li>
          <a href="{{ doc.url }}">{{ doc.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <article id="content"> {{ content }} </article>
    <nav id="content-nav"> {{ page.document | tocify_asciidoc }} </nav>
    <footer>
      email: dawidblogcontact@fastmail.com
    </footer>
  </div>
  <script>
  </script>
</body>

</html>
