---
---

<!doctype html>
<html>

<head>
  <title>{{ page.title }}</title>
  {% include default-head.html %}
  <link rel="stylesheet" href="/doc.css">
</head>

<body>
  <div id="content-holder">
    {% include header.html %}

    <nav id="docs-nav">
      <ul>
        {% for doc in site.pages %}
        {% if doc.is_doc %}
        <li>
          <a href="{{ doc.url }}">{{ doc.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <article id="content">
      {{ content }}
    </article>
    <nav id="content-nav"> {{ page.document | tocify_asciidoc }} </nav>
  </div>
  <script>
    let content_holder = document.getElementById("content-holder");
    let content = document.getElementById("content");
    let font_slider = document.getElementById("font-slider");
    let margin_slider = document.getElementById("margin-slider");

    font_slider.value = 16;
    margin_slider.value = 40;
    console.log(content_holder.style.gridTemplateColumns);

    margin_slider.onchange = function () {
      content_holder.style.gridTemplateColumns = `1fr ${margin_slider.value}vw 1fr`;
    }

    font_slider.onchange = function () {
      content.style.fontSize = `${font_slider.value}px`;
    }
  </script>
</body>

</html>