#content-holder {
  display: grid;
  grid-template-rows: 6rem max-content;
}

header {
  grid-row: 1;
}

#compiler-tab {
  grid-row: 2;
  padding: 2em 3em 0 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#editor {
  height: 80vh;
  border: 1px solid black
}